:root{
    background-color: black;
}

h1 {
    font-family: 'Nabla';
    font-size: 75px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.backgroundImage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
    right: 25%;
    top: 50%;
    bottom: 225px;

button {
  margin-top: 10px;
}