:root {
  background-color: black;
}

h1{
  font-family: 'Nabla';
  font-size: 75px;
}

h4{
  display:flex;
  align-items: center;
  justify-content: center;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nabla';
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.backgroundImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 16.5%;
  top: 50%;
  bottom: 225px;
  margin-top: auto;
  padding-top: auto;
  border: solid 1px white;
  scale: 0.5;
}

#submitBtn {
  margin-top: 10px;
  z-index: 0;
}

/* custom scrollbar start */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-color: #555;
  border-radius: 10px;
}
/* custom scrollbar */

.hide{
  display: none;
}

#image {
  display: none;
}

body {
  height: 100%;
  background-image: url(./assets/image/giphy.gif);
  background-repeat: repeat;
}